<div class = "container">
   <div class = "row">
      <div class = "slide-about">
      　<div id="theTarget2">
         <div class="image6"></div>
         <div class="image7"></div>
         <div class="image8"></div>
         <div class="image9"></div>
         <div class="image10"></div>
       </div>
      </div>
   </div>
   <div class = "mx-auto row">
     <h1 class="about mx-auto">about</h1>
     <div class="menu mt-3">
     <p class="text-center pt-2">Animalca -cafeでは、<br>
       ユーザー登録を行うと画像を投稿することができ、気になるワードで画像を検索したり、<br>
       ジャンルで画像を検索することも可能です。ジャンルは新たに作ることも可能です。<br>
       そして、お気に入りの投稿にはコメントやいいねをつけることができ、フォローしたいユーザーがいたらフォローすることが可能です。<br>
       また、相互フォローしているユーザーとDM機能を使って直接やりとりをしたり、グループを作りグループ掲示板にてグループでのやりとりも可能です。<br>
       ぜひそこで飼っている動物についての相談や飼いたい動物についての相談をしてみたり、好きな動物について語り合ってみたりしてください。<br>
       気軽に投稿を目指したサイトですので、どうぞ肩の力を抜いて思うままに投稿してみてください！
       </p>
      <p class="text-center">それでは、どうぞごゆっくりくおつろぎくださいませ</p>
    </div>
   </div>
   <div class=" fixed-bottom d-flex  justify-content-end">
    <p class="py-3 pr-2"><%= link_to "新規登録", new_user_registration_path ,class: "btn btn-secondary "%></p>
    <p class="p-3 pr-5"><%= link_to "トップ", root_path ,data: {"turbolinks" => false},class: "btn btn-secondary "%></p>
   </div>
</div>