<div class = "container mt-5">
   <div class = "row">
     <div class = "slide-top col-5 img-thumbnail" >
      <div class = "mx-auto slide-image">
      　<div id="theTarget">
         <div class="image1 img-thumbnail "></div>
         <div class="image2 img-thumbnail"></div>
         <div class="image3 img-thumbnail"></div>
         <div class="image4 img-thumbnail"></div>
         <div class="image5 img-thumbnail"></div>
       </div>
     </div>
    </div>

    <div class = "mx-auto col-6">
      <div class = "menu ">
          <h5 class="text-center pt-2">ようこそ！</h5>
          <h4 class="text-center"> Animal-cafeへ</h4><br>
          <p class="text-center"> 気軽に動物好きな人同士が交流したり、動物の写真を投稿しあったり、<br>それを見て疲れを癒やしたりできる場所を提供するサイトです。</p>

          <p class="text-center pb-2"><%= link_to "about",about_path ,data: {"turbolinks" => false},class: "btn btn-secondary "%></p>
      </div>
      <div class = "menu mt-5">
          <p class="text-center pt-2">ゆっくりしていってください</p>
          <p class="text-center"><%= link_to "ログイン", new_user_session_path , class: "btn btn-secondary "%></p>
          <p class="text-center">ほっとひといきつきませんか？</p>
          <p class="text-center pb-2"><%= link_to "新規登録", new_user_registration_path ,class: "btn btn-secondary "%></p>
      </div>
     </div>
    </div>
  </div>
</div>