<div class = "container">
   <div class = "row">
     <div class = "slide col-5 img-thumbnail" >
      <div class = "mx-auto slide1">
      　<div id="theTarget">
        <div class="image1 img-thumbnail "></div>
        <div class="image2 img-thumbnail"></div>
        <div class="image3 img-thumbnail"></div>
        <div class="image4 img-thumbnail"></div>
        <div class="image5 img-thumbnail"></div>
      </div>
    </div>

      </div>

      <div class = "mx-auto col-6">
        <div class = "menu">
          <p class="text-center">
            ようこそ！<br>
            Animal-cafeへ<br>
            気軽に動物好きな人同士が交流したり、動物の写真を投稿しあったり、<br>またそれを見て、疲れを癒やしたりできる場所を提供するサイトです。<br>
          </p>
          <p class="text-center"><%= link_to "about",about_path ,class: "btn btn-outline-secondary "%></p>
        </div>
        <div class = "menu">
          <p class="text-center">ゆっくりしていってください</p>
          <p class="text-center"><%= link_to "ログイン", new_user_session_path ,class: "btn btn-outline-secondary "%></p>
           <p class="text-center">ほっとひいきつきませんか？</p>
          <p class="text-center"><%= link_to "新規登録", new_user_registration_path ,class: "btn btn-outline-secondary "%></p>
        </div>
     </div>

      </div>



   </div>









</div>