/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: image-url("cafe201261763_TP_V.jpeg");

}
.slide-top{
  height: 700px;
}
.slide-image{
  height: 618px;
}
.slide-about{
  height: 300px;
  width: 100%;
}
.image1 {
  background-image: image-url("image1.jpeg");
}
.image2 {
  background-image: image-url("image2.jpeg");
}
.image3 {
  background-image: image-url("image3.jpeg");
}
.image4 {
  background-image: image-url("image4.jpeg");
}
.image5 {
  background-image: image-url("image5.jpeg");
}
.image6 {
  background-image: image-url("kz8888-10.jpeg");
}
.image7 {
  background-image: image-url("kz8888-10.jpeg");
}
.image8 {
  background-image: image-url("kz8888-10.jpeg");
}
.image9 {
  background-image: image-url("kz8888-10.jpeg");
}
.image10 {
  background-image: image-url("kz8888-10.jpeg");
}

.menu{
  color: white;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}
.about{
  padding-top: 50px;
  color: white;
}
.Inup{
  color: white;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}
header ,footer,.profile,{
   background-color: rgba(0, 0, 0, 0.5);
}
ul {
  list-style: none;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.post_image{
  color: white;
}
.comments{
  color: white;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}
.new-comment ,.chats{
  position: fixed;
  bottom: 33px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

.link {
    text-decoration: none;
    color: white ;
}
.post{
   color: white;
   background-color: rgba(0, 0, 0, 0.6);
}
.title, .time{
  color: white;
}

.group_boards{
   background-image: image-url("4454473_s");
}


 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, 1)'
  stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}